@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    background: linear-gradient(135deg,
            #2C3E50 0%,
            /* Azul oscuro */
            #4CA1AF 50%,
            /* Azul claro */
            #A2C2E0 100%
            /* Azul pálido */
        );
    color: #FFF;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

main {
    margin: 20px;
}

.poke-container,
.contenedor-pokemon {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    overflow: hidden;
    /* Oculta el contenido que se desborda */
}

.pokemon {
    border: solid 3px white;
    border-radius: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    color: #fff;
    font-family: 'Arial', sans-serif;
}

.pokemon .info {
    font: 600;
}

.number,
.numero {
    font-size: 15px;
    color: #000;
    font-family: "Roboto", sans-serif;
}

.name,
.nombre {
    font-size: 20px;
    color: #000;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
}

.type,
.tipo {
    font-size: 18px;
    color: #000;
    font-family: "Roboto", sans-serif;
}

.container2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin: 26px;
    /* Adjusted to a single margin value for all sides */
    width: auto;
}

.BOTON {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    /* Bordes redondeados */
    cursor: pointer;
    font-size: 16px;
}

.btn-sorprendeme {
    background-color: orange;
    /* Color naranja */
    color: white;
    /* Texto blanco */
}

.btn-filtro {
    background-color: lightgray;
    /* Color de fondo del botón Filtro */
    color: black;
    /* Texto negro */
}

.filter-options,
.opciones-filtro {
    display: none;
    /* Inicialmente oculto */
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.6);
    color: rgba(0, 0, 0, 0.6);
    margin-right: 70px;
    margin-bottom: 26px;
    margin-left: 70px;
    margin-top: -25px;
}

.filter-options select,
.opciones-filtro select {
    width: 100%;
    padding: 8px;
    margin: 5px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.tipo-pildora {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 15px;
    color: black;
    margin-right: 5px;
    font-size: 0.9em;
    margin-bottom: 5px;
}

.img-container {
    border-radius: 10px;
}

.contenedor-botones {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    margin: 0;
    width: auto;
    margin-right: 70px;
    margin-bottom: 26px;
    margin-left: 70px;
}

.boton {
    padding: 10px 20px;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 16px;
}

.btn-sorprendeme {
    background-color: orange;
    color: white;
}

.btn-filtro {
    background-color: lightgray;
    color: black;
}

#search-container {
    position: relative;
    /* Necesario para el posicionamiento absoluto de las sugerencias */
}

#suggestions-container {
    position: absolute;
    /* Permitir que se superponga */
    max-height: 150px;
    /* Altura máxima del contenedor */
    overflow-y: auto;
    /* Habilitar la barra de desplazamiento vertical */
    background-color: white;
    /* Fondo blanco para las sugerencias */
    width: 100%;
    /* Ancho igual al input de búsqueda */
    z-index: 1000;
    /* Asegúrate de que esté por encima e otros elementos */
    border-radius: 1vh;
}

#suggestions {
    list-style: none;
    padding: 0;
    margin: 0;
}

#suggestions li {
    padding: 8px;
    cursor: pointer;
    color: black;
}

#suggestions li:hover {
    background-color: #f0f0f0;
}

.boton_buscar {
    padding: .5vh 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 16px;
}

@media (max-width: 512px) {
    .pokemon {
        width: -webkit-fill-available;
        border: solid 3px white;
        border-radius: 10px;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
        color: #fff;
        font-family: 'Arial', sans-serif;
    }

    #search-container {
        display: none;
    }

    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: #343a40;
        padding: 1rem;
    }

    .navbar-nav {
        flex-direction: column;
    }
}

@media (min-width: 513px) {
    .navbar-toggler {
        display: none;
    }

    #search-container {
        display: flex !important;
    }
}