@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap');

html,
body {
    height: 100%;
    font-family: 'Rubik', sans-serif;
}

body {
    background: linear-gradient(180deg,
            rgba(255, 255, 255, 0.63) 0%,
            rgba(0, 0, 0, 0.63) 100%),
        #33a165;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;

    --fuego: #ff7402;
    --planta: #33a165;
    --acero: #00858a;
    --agua: #0050ac;
    --psiquico: #c90086;
    --tierra: #8b4513;
    --hielo: #70deff;
    --volador: #5d4e75;
    --fantasma: #4d5b64;
    --normal: #753845;
    --veneno: #7e0058;
    --roca: #6e1a00;
    --lucha: #634136;
    --siniestro: #272625;
    --bicho: #7a8825;
    --dragon: #00c431;
    --electrico: #bba909;
    --hada: #d31c81;
    --desconocido: #757575;
    --sombra: #29292c;
}

.header-nav {
    display: flex;
    align-items: center;
    margin: 0;
}

.pokeball-container {
    display: flex;
    align-items: center;
}

.pokeball-image {
    width: 5vw;
    height: 5vw;
}

.page-title {
    font-size: 2.5vw;
    color: white;
    margin: 0 1% 0 0;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 0.5vw;
    width: 100%;
}

.search-bar {
    flex: 0 0 86%;
    padding: 1.5vh;
    border-radius: 2vh;
    border: 0.1vh solid black;
    background-color: black;
    font-size: 2vh;
    color: white;
    font-weight: bold;
}

.search-button {
    padding: 0.5vw 2vw;
    border-radius: 2vw;
    background-color: #ffffff;
    color: black;
    cursor: pointer;
    border: 0.1vw solid black;
    box-shadow: 0 0 1vw rgba(0, 0, 0, 0.5);
    font-size: 1.5vw;
}

.search-button:hover {
    background-color: #e06600;
}

.rounded-rectangle {
    width: 27vw;
    height: 82vh;
    background-color: #ffffff;
    border-radius: 15vw 15vw 0 0;
    position: fixed;
    bottom: 0;
    left: 0;
    padding: 1vw;
    box-shadow: 0 -0.5vw 1vw rgba(0, 0, 0, 0.2);
}

.pokemon-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50%;
    max-height: 50%;
    border-radius: 15vw 15vw 0 0;
}

.pokemon-image {
    max-width: 90%;
    object-fit: contain;
}

.top-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    /* Ajusta según el diseño deseado */
    max-height: 10vh;
    flex-direction: column;
    overflow: hidden;
    /* O usa overflow: auto si prefieres permitir el desplazamiento */
}

.lower-middle-section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    max-height: 10%;
}

.bottom-section {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 30%;
    max-height: 30%;
}

.info-container {
    width: 70vw;
    height: 87vh;
    position: fixed;
    bottom: 0.5vh;
    left: 30vw;
    box-shadow: 0 -0.5vw 1vw rgba(0, 0, 0, 0.2);
    border-radius: 3vw 0 0 3vw;
    display: flex;
    flex-direction: column;
}

.info-header {
    background-color: #363636;
    height: 7vh;
    border-radius: 3vw 0 0 0;
    display: flex;
    /* Habilita flexbox */
    justify-content: center;
    /* Centra los botones horizontalmente */
    align-items: center;
    /* Centra los botones verticalmente */
}

.info-main {
    background-color: #1b1b1b;
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.info-main-left {
    display: flex;
    justify-content: flex-start;
    /* Alinea el contenido a la izquierda */
    width: 20%;
    max-width: 20%;
}

.info-main-left table {
    width: auto;
    /* Elimina el ancho del 100% para que la tabla no ocupe todo el ancho del contenedor */
    text-align: left;
    /* Opcional: para alinear el texto dentro de las celdas a la izquierda */
    color: #8c8c8c;
    font-size: 4vh;
}

.info-main-center {
    display: flex;
    justify-content: center;
    width: 5%;
    max-width: 5%;
}

.info-main-center table {
    width: auto;
    /* Elimina el ancho del 100% para que la tabla no ocupe todo el ancho del contenedor */
    text-align: left;
    /* Opcional: para alinear el texto dentro de las celdas a la izquierda */
    color: #ffffff;
    font-size: 4vh;
}

.info-main-right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 75%;
    max-width: 75%;
}


.info-bottom {
    background-color: #1f1f1f;
    height: 26vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-bottom-title {
    background-color: #1f1f1f;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 108%;
    height: 5%;
    color: white;
}

#info-bottom-title-font {
    font-size: 3vh;
    margin-top: 2vh;
    margin-right: 0vh;
    margin-bottom: 0vh;
    margin-left: 3vh;
    text-align: left;
    flex: 1;
}


.info-bottom-top {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 50%;
}

.info-bottom-mensaje {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    /* Cambia la dirección del flex a columna */
    justify-content: center;
    align-items: center;
    width: 91%;
    height: 19VH;
    /* Ajusta la altura si es necesario */
    color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 1.5vw 1.5vw 1.5vw 1.5vw;
}

.info-bottom-mensaje-top {
    display: flex;
    justify-content: flex-start;
    /* Cambiado a flex-start para alinear a la izquierda */
    align-items: center;
    height: 9vh;
    width: 100%;
    border-radius: 1.5vw 1.5vw 0vw 0vw;
    text-align: left;
}

.info-bottom-mensaje-button {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 21vh;
    width: 100%;
    border-radius: 0vw 0vw 1.5vw 1.5vw;
    font-size: 3.22vh;
    margin-top: -1vh;
}

.pildora {
    display: inline-block;
    padding: 1.5vh 2.5vh;
    border-radius: 4vh;
    background-color: #fa534d;
    color: white;
    font-size: 3vh;
    text-align: center;
    margin-left: 2vh;
    margin-top: 1.7vh;
}

.info-bottom-bottom {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    max-width: 50%;
}

.bar-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    /* Asegura que ocupe todo el ancho del contenedor */
}

.bar {
    background-color: #4CAF50;
    color: white;
    text-align: left;
    /* Alinea el texto a la izquierda */
    padding: 0.5vh;
    margin: 1vh 0;
    border-radius:1vh;
    height: 1vh;
    line-height: 1vh;
    /* Alinea verticalmente el texto con la altura de la barra */
}


.info-footer {
    background-color: #1b1b1b;
    height: 10vh;
    border-radius: 0 0 0 3vw;
}

.middle-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    margin-top: 1vh;
}

.boton-pildora {
    padding: 1vh 2vw;
    border-radius: 2vw;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
}

.info-bottom-title-buttom {
    background-color: #1b1b1b;
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 108%;
    height: 6%;
    color: white;
}

.boton-grass {
    background-color: #4CAF50;
}

.boton-poison {
    background-color: #9B59B6;
}
.boton-white {
    background-color: #ffffff; 
    color:black;
 font-size: 3vh;
}
.boton-fighting {
    background-color: #c42d21;
}
.boton-water {
    background-color: #6c8ef0;
}
.boton-electric {
    background-color: #f8cf29;
}
.boton-fairy {
    background-color: #ea9bae;
}



.pill-button {
    background-color: hsl(0, 0%, 86%);
    /* Color de fondo naranja */
    color: #292929;
    /* Color del texto blanco */
    border: none;
    /* Sin borde */
    border-radius: 50px;
    /* Bordes redondeados */
    padding: 1vh 3vh;
    font-size: 2.5vh;
    /* Tamaño de fuente consistente */
    cursor: pointer;
    /* Cursor en forma de mano al pasar el ratón */
    transition: background-color 0.3s ease, transform 0.3s ease;
    /* Transiciones suaves */
    margin: 1vh;
    /* Espaciado entre botones */
}

.pill-button:hover {
    background-color: #e06600;
    /* Color de fondo al pasar el ratón */
    transform: scale(1.05);
    /* Efecto de aumento al pasar el ratón */
}

.pill-button:focus {
    outline: none;
    /* Eliminar el borde de enfoque */
}

.arrow {
    position: fixed;
    top: 50%;
    transform: translateY(-50%);
    font-size: 7vh;
    color: #333;
    cursor: pointer;
    z-index: 1000;
}

.arrow-left {
    left: 2vh;
}

.arrow-right {
    right: 2vh;
}

.Nombres-Botones_pildora {
    font-size: 1.5vh;
    margin-top: 3vh;
    margin-right: 0vh;
    margin-left: 3vh;
}
.boton-pildora-abajo {
    padding: 2vh 3vh;
    border-radius: 2vw;
    border: none;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    text-transform: uppercase;
    margin: 1vh;
}
.boton-pildora-abajo-black {
    padding: 2vh 3vw;
  border-radius: 2vw;
  border: none;
  color: rgb(0, 0, 0);
  font-size: 1rem;
  cursor: pointer;
  text-transform: uppercase;
}
 #color-pildora{
    font-size: 1.5vh;
 }